<app-header></app-header>

<div class="row">
  <div class="col-xs-6 offset-3">
    <div class="card-group">
      <div class="card border-primary mb-3 text-center">
        <div class="card-body">
          <h1 class="card-title">Register</h1>
          <p class="card-text">Please register yourself !</p>
          <button (click)="onSignUp()">Create my account</button>
        </div>
      </div>
      <div class="card border-primary mb-3 text-center">
        <div class="card-body">
          <h1 class="card-title">Hello, Friend!</h1>
          <p class="card-text">Please Connect yourself !</p>
          <!--<a href="#">Forgot your password?</a>-->
          <button (click)="onSignIn()">Connexion</button>
        </div>
      </div>
    </div>
  </div>
</div>
